<!doctype html>
<html>

  <head>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700' rel='stylesheet' type='text/css'> 
    <!-- Schritft einbinden -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width"> <!-- Korrekte Darstellung bei mobilen Geräten -->
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/normalize.css"> 
    <!-- es stellt bessere browserübergreifend konsistente Stile für die standardmäßigen Stile von HTML Elementen bereit.  -->
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
  </head>

  <body>
    <div class="container">

<!-- Header  -->   
      <div class="main-header-container"> <!-- Allgmeine Box des Headers -->
        <header class="main-header clearfix"> 
          <a class="logo" href="">/
          <p>Analysesoftware</p>
           <!--  <img src="img/layout/logo.png" height="130" alt="Logo Tutorium"> -->
          </a>
          <nav>
            <ul>
              <input type="text"  name="kennnummer" placeholder="KENNNUMMER ..." id="kennummer" oninput="mykennnummer2()"> 
              <!--  <input type="button" value="Senden" onclick="mykennnummer()"/> --> 
              <li><a href="/">Anzeige</a></li>
              <li><a href="dash">Dashboard</a></li>
            </ul>
          </nav>
        </header>
      </div>

<!-- Introkasten -->
      <div class="intro-container"> 

        <section class="intro clearfix">
          <article id="pre">
          	<div id="test">
            <h2>Sample Quality
            <span id="status"></span>
            <span id="status2"></span>
            </h2>
            <p>
              Zeitstempel:
              <span id="datum"></span>
              <span>|</span>
              <span id="zeit"></span>
            </p>
            </div>
          </article>
          <article>
          	<div id="test">
            <h2>Quality Histogram</h2>
            <p>
              Aufnahme des Objektes nach der Bearbeitung
            </p>
            </div>
          </article>
          </section>
        </div>


<div class="third circle">
<span id="pie"></span>
</div>
</div>

<div class="histo">
<div class="graph">
  <div class="chart-legend">
  </div>
  <div class="chart">
    <canvas id="myChart"></canvas>
  </div>
</div>
</div>

 
     


    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://rawgit.com/kottenator/jquery-circle-progress/1.2.2/dist/circle-progress.js"></script> 
    <script src="/static/skript2.js"></script>
  </body>
</html>







